.pokemon-button{
    color: green;
    width: 90%;
    background-color: #f4eede;
    padding: 10px;
    font-size: 24px;
    list-style-type: none;
    font-family: 'Expletus Sans', sans-serif;
    cursor: pointer;
    z-index: 999;
}
.btn-primary{
  outline-color: none;
}
.each-pokemon{
    list-style-type: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page-container {
  margin-top: 80px;
    
  }

.list-group-item{
  background-color: lightgray;
  margin: 0px;
}

h1{
    font-family: 'Expletus Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: green;
}
.modal-element{
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal-title{
  font-family: 'Expletus Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: green;
}

.pokemon-box{
    background-color: lightgray;
    width: 35%;
    margin: 20px auto;
    padding: 0px;
}

.pokemon-button:hover,
.pokemon-box:focus {
    border: none;
    background-color: #eee4cb;
}

#pokemon-list{
    padding-left: 0;
}

  
  .modal-content {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 500px;
  }

  
  
  .modal-content h5 {
    margin-top: 0;
  }
  
  .modal-content p {
    margin-bottom: 0;
  }


@media all and (max-width: 550px){
.pokemon-box{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

.pokemon-button{
    color: green;
    width: 90%;
    background-color: #f4eede;
    padding: 10px;
    font-size: 16px;
    list-style-type: none;
    
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 400px;
  }


}

@media all and (min-width: 551px ) and (max-width: 1000px){
    .pokemon-box{
        width: 70%;
        margin: 20px auto;
        padding: 10px;
    }
    
    .pokemon-button{
        color: green;
        width: 90%;
        background-color: #f4eede;
        padding: 10px;
        font-size: 20px;
        list-style-type: none;
        
    }
    .modal {
        margin: auto;
        display: inline-block;
        box-sizing: border-box;
        background: #fff;
        padding: 15px;
        width: 100%;
        max-width: 450px;
      }
    
    }
    @media all and (min-width: 1600px){
        .modal {
            margin: auto;
            display: inline-block;
            box-sizing: border-box;
            background: #fff;
            padding: 15px;
            width: 100%;
            max-width: 600px;
          }
        
    }

    