.pokemon-button{
    color: green;
    width: 90%;
    background-color: #f4eede;
    padding: 10px;
    font-size: 24px;
    list-style-type: none;
    
}
.each-pokemon{
    list-style-type: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1{
    font-family: 'Expletus Sans', sans-serif;
    font-size: 48px;
    text-align: center;
    color: green;
}

.pokemon-box{
    background-color: lightgray;
    width: 35%;
    margin: 20px auto;
    padding: 10px;
}

.pokemon-button:hover,
.pokemon-box:focus {
    border: none;
    background-color: #eee4cb;
}

.pokemon-list{
    padding-left: 0;
}

@media all and (max-width: 550px){
.pokemon-box{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

.pokemon-button{
    color: green;
    width: 90%;
    background-color: #f4eede;
    padding: 10px;
    font-size: 16px;
    list-style-type: none;
    
}
}

@media all and (min-width: 551px ) and (max-width: 1000px){
    .pokemon-box{
        width: 70%;
        margin: 20px auto;
        padding: 10px;
    }
    
    .pokemon-button{
        color: green;
        width: 90%;
        background-color: #f4eede;
        padding: 10px;
        font-size: 20px;
        list-style-type: none;
        
    }
    }
